# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# --- Date (FOARTE IMPORTANT) ---
# Nu urca imaginile brute pe GitHub (sunt prea mari)
data/
data/raw/
data/processed/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Editor / IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistem de operare ---
.DS_Store
Thumbs.db

# --- Environment ---
.env